<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiacer.modules.mybatis.dao.SysRoleMenuMapper">
  <resultMap id="BaseResultMap" type="com.jiacer.modules.mybatis.model.SysRoleMenu">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="rid" jdbcType="INTEGER" property="rid" />
    <result column="mid" jdbcType="INTEGER" property="mid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, mid, rid
  </sql>
  <select id="getByRId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_role_menus
    where rid = #{rid,jdbcType=INTEGER}
  </select>
 
  <insert id="insert" parameterType="com.jiacer.modules.mybatis.model.SysRoleMenu">
    insert sys_role_menus
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="mid != null">
        mid,
      </if>
      <if test="rid != null">
        rid,
      </if>
      
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      
      <if test="mid != null">
        #{mid,jdbcType=INTEGER},
      </if>
      <if test="rid != null">
        #{rid,jdbcType=INTEGER},
      </if>
     
    </trim>
  </insert>
  <update id="update" parameterType="com.jiacer.modules.mybatis.model.SysRoleMenu">
    update sys_role_menus
    <set>
      <if test="id != null">
        id = #{id,jdbcType=INTEGER},
      </if>
     <if test="mid != null">
        mid = #{mid,jdbcType=INTEGER},
      </if>
      <if test="rid != null">
        rid = #{rid,jdbcType=INTEGER},
      </if>
      
      
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>